.missed{
    opacity: 0.5;
    background: red;
}
.gameBoard {
    background: url('../images/stage.png') center no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.duck1{
    top: 800px;
    left: -1000px;
    width: 150px;
    height: 150px;
    background: url('../images/duck2.gif') center no-repeat;
    background-size: contain;
    position: absolute;
    cursor: crosshair;
    display: none;
}

.hud {
    position: absolute;
    bottom: 0;
    font-size: 5em;
}

.round p {
}
