.bird1{
    width: 100px;
    height: 100px;
    background: url('../images/duck.gif') center no-repeat;
    background-size: contain;
    position: relative;
    top: 500px;
    transition: 1s linear;
    cursor: pointer;
    transform: rotateY(180deg);
}

