.gameBoard {
    background: url('images/stage.png') center no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.bird1{
    width: 100px;
    height: 100px;
    top: 500px;
    background: url('../images/duck2.gif') center no-repeat;
    background-size: contain;
    position: relative;
    transition: 2s linear;
    cursor: crosshair;
}

