.gameBoard {
    background: url('../images/stage.png') center no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.duck1{
    top: 500px;
    left: -500px;
    background: url('../images/duck2.gif') center no-repeat;
    background-size: contain;
    position: absolute;
    cursor: crosshair;
    display: none;
}
.duck2{
    top: 500px;
    background: url('../images/duck.gif') center no-repeat;
    background-size: contain;
    position: relative;
    cursor: crosshair;
    display: none;
}
