body{
    font-family: 'Roboto', sans-serif;
}
.missed{
    opacity: 0.5;
    background: red;
}
.gameBoard {
    background: url('../images/stage.png') center no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.duck1{
    top: 800px;
    left: -1000px;
    width: 150px;
    height: 150px;
    background: url('../images/duck2.gif') center no-repeat;
    background-size: contain;
    position: absolute;
    cursor: crosshair;
    display: none;
}

.hud {
    position: absolute;
    bottom: 0;
    font-size: 5em;
}
.gameOver {
    display: none;
    position: relative;
    top: -17em;
    width: 400px;
    margin: 0 auto;
    font-size: 40px;
    background: rgba(60, 223, 41, 0.9);
    padding: 1em;
    line-height: 170%;
    border-radius: 1em;
    box-shadow: 0px 5px rgb(20, 194, 0);
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}
div#gunFollow {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 3em;
}

#gunFollow img {
    position: absolute;
    left: -1em;
}
.play {
    cursor: pointer;
    background: rgba(228, 79, 89, 0.8);
    box-shadow: 0px 10px #E44F59;
    color: white;
    letter-spacing: 5px;
}
.play:active {
    position: relative;
    top: 4px;
}
div h1 {
    padding-bottom: 0.5em;
}